TODO2/Simple_Monitoring_NodeRed.json
[{"id":"40b93780.97f398","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b750e83.f8d792","type":"debug","z":"40b93780.97f398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":500,"wires":[]},{"id":"c1f4a029.d3c98","type":"function","z":"40b93780.97f398","name":"heat","func":"p = msg.payload;\nmsg.payload = p.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":240,"wires":[["420aab0.b2eb454"]]},{"id":"1c4e5591.4baf0a","type":"function","z":"40b93780.97f398","name":"Light","func":"p = msg.payload;\nmsg.payload = p.light;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":280,"wires":[["ea568ae2.8c0388"]]},{"id":"3118d072.8ea79","type":"function","z":"40b93780.97f398","name":"red led","func":"p = msg.payload;\nmsg.payload = p.redLed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":320,"wires":[["3a5a5185.2ac0ee"]]},{"id":"1058c67b.0c51aa","type":"function","z":"40b93780.97f398","name":"Green led","func":"p = msg.payload;\nmsg.payload = p.greenLed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["674b3b84.391e34"]]},{"id":"271d9cf1.9ea154","type":"http request","z":"40b93780.97f398","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.43/POST","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":360,"wires":[["7e6da7ed.ed6348"]]},{"id":"15efcbf7.9a9594","type":"inject","z":"40b93780.97f398","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":90,"y":360,"wires":[["271d9cf1.9ea154"]]},{"id":"7e6da7ed.ed6348","type":"json","z":"40b93780.97f398","name":"","property":"payload","action":"","pretty":false,"x":410,"y":320,"wires":[["c1f4a029.d3c98","1c4e5591.4baf0a","3118d072.8ea79","1058c67b.0c51aa","2b750e83.f8d792","7b279cc1.f18d04"]]},{"id":"ea568ae2.8c0388","type":"ui_chart","z":"40b93780.97f398","name":"","group":"e78ac9d.0ba4438","order":0,"width":0,"height":0,"label":"light chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":280,"wires":[[]]},{"id":"3a5a5185.2ac0ee","type":"ui_text_input","z":"40b93780.97f398","name":"","label":"Red led state","tooltip":"","group":"3cea36ea.c5c43a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":790,"y":320,"wires":[[]]},{"id":"674b3b84.391e34","type":"ui_text_input","z":"40b93780.97f398","name":"","label":"Green led state","tooltip":"","group":"3cea36ea.c5c43a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":800,"y":360,"wires":[[]]},{"id":"420aab0.b2eb454","type":"ui_chart","z":"40b93780.97f398","name":"","group":"1da73d7a.cd7823","order":0,"width":0,"height":0,"label":"heat chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":240,"wires":[[]]},{"id":"7b279cc1.f18d04","type":"function","z":"40b93780.97f398","name":"override","func":"p = msg.payload;\nmsg.payload = p.override;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":400,"wires":[["2630e614.d86d0a"]]},{"id":"2630e614.d86d0a","type":"ui_text_input","z":"40b93780.97f398","name":"","label":"override state","tooltip":"","group":"3cea36ea.c5c43a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":800,"y":400,"wires":[[]]},{"id":"e78ac9d.0ba4438","type":"ui_group","name":"Light sensor ","tab":"450d3fdc.401eb","order":2,"disp":true,"width":"6","collapse":false},{"id":"3cea36ea.c5c43a","type":"ui_group","name":"Leds","tab":"450d3fdc.401eb","order":1,"disp":true,"width":"6","collapse":false},{"id":"1da73d7a.cd7823","type":"ui_group","name":"Heat sensor","tab":"450d3fdc.401eb","order":1,"disp":true,"width":"6","collapse":false},{"id":"450d3fdc.401eb","type":"ui_tab","name":"Numerical tab","icon":"dashboard","disabled":false,"hidden":false}]